services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DEBUG=True
      - DATABASE_URL=postgres://carsoft:carsoft_password@db:5432/sistema_facturacion
      - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

  db:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=sistema_facturacion
      - POSTGRES_USER=carsoft
      - POSTGRES_PASSWORD=carsoft_password
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U carsoft" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db_data:
