services:
  db:
    image: postgres:15
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=sistema_facturacion
      - POSTGRES_USER=carsoft
      - POSTGRES_PASSWORD=carsoft_password
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U carsoft" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    command: gunicorn sistema_comercial.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - media_data:/app/media
    expose:
      - "8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DEBUG=False
      - DATABASE_URL=postgres://carsoft:carsoft_password@db:5432/sistema_facturacion
      - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,api.tudominio.com
      - CORS_ALLOWED_ORIGINS=http://localhost,http://tudominio.com

  frontend:
    build: ./frontend
    expose:
      - "80"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - media_data:/app/media
    depends_on:
      - backend
      - frontend

volumes:
  db_data:
  media_data:
