@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #020617; /* Slate 950 */
  color: #f8fafc;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
