@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Animations */
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(-20px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.scale-in {
  animation: scaleIn 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

:root {
  color-scheme: light;
}

body {
  margin: 0;
  background-color: #f1f5f9;
  color: #334155;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}